$primary-col: #1c3ae3;
$primary-col__light: #4961e9;
$secondary-col: #e3c51c;
$secondary-col__light: #e9d149;

body {
	font-family: "Open Sans", sans-serif;
}

* {
	&::selection {
		background: $primary-col;
		color: #fff;
	}
}

.bg-primary {
	background-color: $primary-col !important;
}

.bg-primary__light {
	background-color: $primary-col__light !important;
}

.bg-secondary {
	background-color: $secondary-col !important;
}

.bg-secondary__light {
	background-color: $secondary-col__light !important;
}

.text-primary {
	color: $primary-col !important;
}

.text-primary__light {
	color: $primary-col__light !important;
}

.text-secondary {
	color: $secondary-col !important;
}

.text-secondary__light {
	color: $secondary-col__light !important;
}

.btn-outline-primary {
	background: #fff;
	color: $primary-col;
	border-color: $primary-col;

	&:hover {
		background: $primary-col;
		color: #fff;
		border-color: $primary-col;
	}
}

.btn-outline-secondary {
	background: #fff;
	color: $secondary-col;
	border-color: $secondary-col;

	&:hover {
		background: $secondary-col;
		color: #fff;
		border-color: $secondary-col;
	}
}

.bg-black {
	background: #000;
}

.text-black {
	color: #000;
}

.navbar {
	.navbar-toggler {
		&:focus {
			outline: none;
		}
	}

	@media screen and (max-width: 991px) {
		.dropdown-menu {
			position: relative;
		}

		.navbar-collapse {
			height: calc(100vh - 75px);
		}

		.navbar-nav {
			justify-content: center;
			align-items: center;
		}
	}

	.fa-times {
		font-size: 2rem;
	}
}

.navbar,
.footer {
	.logo {
		width: 80px;
		height: auto;
	}

	.link {
		width: 25px;
		height: 25px;
		line-height: 25px;
		font-size: 14px;
		color: #ddd;
		background: $primary-col;
		transition: all 300ms ease-in;

		&:hover {
			background: #fff;
			color: $primary-col;
		}
	}
}

.my {
	&-6 {
		margin-top: 6rem;
		margin-bottom: 6rem;
	}

	&-lg-6 {
		@media screen and (min-width: 992px) {
			margin-top: 8rem !important;
			margin-bottom: 8rem !important;
		}
	}
}

.my- {
	&8 {
		margin-top: 8rem !important;
		margin-bottom: 8rem !important;
	}

	&lg-8 {
		@media screen and (min-width: 992px) {
			margin-top: 8rem !important;
			margin-bottom: 8rem !important;
		}
	}
}

.mt-8 {
	margin-top: 8rem;
}

.mb-8 {
	margin-bottom: 8rem;
}

.py {
	&-6 {
		padding-top: 6rem;
		padding-bottom: 6rem;
	}

	&-lg-6 {
		@media screen and (min-width: 992px) {
			padding-top: 8rem !important;
			padding-bottom: 8rem !important;
		}
	}
}

.py- {
	&8 {
		padding-top: 8rem !important;
		padding-bottom: 8rem !important;
	}

	&lg-8 {
		@media screen and (min-width: 992px) {
			padding-top: 8rem !important;
			padding-bottom: 8rem !important;
		}
	}
}

.fallback {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.homepage {
	.slides {
		height: 600px;

		img {
			object-fit: cover;
			height: 600px;
			width: 100%;
			object-position: 40% 30%;
		}

		.slick-prev,
		.slick-next {
			z-index: 2;
		}

		.slick-prev {
			left: 0;
		}

		.slick-next {
			right: 0;
		}

		.slide {
			height: 600px;
			position: relative;

			.overlay {
				position: absolute;
				top: 0%;
				left: 0%;
				-webkit-transform: translate(0%, 0%);
				transform: translate(0%, 0%);
				font-size: 30px;
				height: 600px;
				background-color: rgba(0, 0, 0, 0.8);

				@media screen and (min-width: 768px) {
					font-size: 40px;
				}

				.text-bold {
					font-size: 35px;

					@media screen and (min-width: 768px) {
						font-size: 45px;
					}
				}
			}
		}
	}

	.about {
		.quote {
			font-size: 25px;
		}

		.abt {
			&:hover {
				text-decoration: underline;
				color: $secondary-col !important;
			}
		}

		a {
			transition: all 300ms ease-in;

			.priority {
				width: 80px;
				height: 80px;
				line-height: 90px;
				background: #3f51b5;

				@media screen and (min-width: 992px) {
					width: 100px;
					height: 100px;
					line-height: 110px;
				}

				i {
					font-size: 30px;
					transition: color 300ms ease-in;
				}
			}

			&:hover {
				text-decoration: none;

				i {
					color: $secondary-col !important;
				}

				p {
					color: $secondary-col !important;
				}
			}
		}
	}

	.blog-latest {
		img {
			height: 350px;
			object-fit: cover;
		}
	}

	.blog-news {
		height: 100%;
		background-size: cover !important;
		background-position: 10% 40% !important;

		.overlay {
			font-size: 30px;
			background-color: rgba(0, 0, 0, 0.8);

			img {
				height: 250px;
				object-fit: cover;
				object-position: 0% 0%;

				@media screen and (min-width: 768px) and (max-width: 992px) {
					height: 300px;
				}
			}

			p {
				font-size: 16px;
			}

			.more {
				&:hover {
					background: $primary-col !important;
					color: $secondary-col;
				}
			}
		}
	}
}

.aboutPage {
	.overflow-x-hidden {
		overflow-x: hidden;
	}

	.meet {
		height: 400px;
	}

	.z-1 {
		position: relative;
		top: -250px;
		margin-bottom: -250px;

		.coverImg {
			height: 500px;
			width: 100%;
			object-fit: cover;
		}
	}

	.abtImg {
		width: 300px;
		height: 300px;
		object-fit: cover;
		border: 3px dotted $primary-col;
		padding: 10px;
	}

	.d-b4 {
		@media screen and (min-width: 992px) {
			order: -1;
		}
	}
}

.blog {
	.banner {
		height: 600px;
	}
}

.blog-section,
.recent {
	.row {
		.post {
			transition: all 500ms ease;

			img {
				height: 200px;
				object-fit: cover;
				object-position: center top;
			}

			&:hover {
				transform: scale(0.98);

				img {
					filter: grayscale(100%);
				}
			}

			.text-sm {
				font-size: 10px;
				line-height: 18px;
			}

			.limit {
				text-overflow: ellipsis;
				word-wrap: break-word;
				overflow: hidden;
				height: 4.5em;
				line-height: 1.5em;

				&.card-title {
					font-size: 1em;
				}
			}

			a {
				position: relative;

				&:hover {
					color: $primary-col !important;
					text-decoration: none;
					border-bottom: 1px solid $primary-col;
				}
			}
		}
	}
}

.blog-article {
	.article {
		.banner {
			height: 600px;
			background-size: cover !important;
		}
	}

	.share {
		.link {
			width: 30px;
			height: 30px;
			line-height: 30px;
			border: 1px solid transparent;
			transition: all 300ms ease;

			&:hover {
				background: #fff !important;
				border: 1px solid $primary-col;

				i {
					color: $primary-col !important;
				}
			}

			&:focus {
				border: none;
			}
		}
	}
}

.contact {
	.contact-pane {
		i {
			font-size: 16px;
			width: 16px;
			height: 16px;
			line-height: 16px;
			display: inline-block;
			text-align: center;
			margin-right: 5px;
		}

		button {
			&:focus {
				box-shadow: none !important;
			}
		}
	}

	input,
	textarea {
		&:focus {
			box-shadow: none;
			border-color: $primary-col;
		}
	}

	textarea {
		resize: none;
	}
}

.gallery-grid {
	position: relative;
}

#scrollTop {
	position: fixed;
	right: 20px;
	bottom: 30px;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
}

.subscribe {
	input {
		&:focus {
			box-shadow: none;
			outline: none;
		}
	}

	#submit {
		border-top-left-radius: 0;
		border-top-right-radius: 0;

		&:hover {
			background: #000 !important;
		}

		&:focus {
			box-shadow: none;
		}
	}
}
